{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1-beta2"}
  org.clojure/core.async {:mvn/version "0.4.490"}
  org.clojure/spec.alpha {:mvn/version "0.2.176"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  clojure-msgpack {:mvn/version "1.2.1"}
  camel-snake-kebab {:mvn/version "0.4.0"}
  expound {:mvn/version "0.7.2"}
  zprint {:mvn/version "0.4.15"}
  tcp-server {:mvn/version "0.1.0"}
  cheshire {:mvn/version "5.8.1"}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.520"}
    compliment {:mvn/version "0.3.8"}}}

  :fast
  {:extra-paths ["classes"]
   :jvm-opts ["-client" "-Xmx512m" "-Xverify:none"
              "-XX:+TieredCompilation" "-XX:TieredStopAtLevel=1"]}}}
