;; These dependencies are fetched and munged by bin/compile (conjure.compile.main)
;; for injection over a prepl at runtime.

;; When you change these versions you need to update the symbols used in conjure.code.
;; The version numbers in the munged namespaces will change!

[[compliment "0.3.8"]
 [org.clojure/tools.namespace "0.3.0-alpha4"]]
